<nav class="navbar navbar-light bg-lignt">
  <%= form_with(scope: :task, url: tasks_path, local: true, class: "search-form form-inline", method: :get) do |form| %>
    <%= form.text_field :name, placeholder: t("tasks.name"), value: hash_nil_guard(search_params, :task, :name), class: "form-control mr-sm-2" %>
    <%= form.select :status, Task.statuses.keys.map{|status| [t("tasks.status.#{status}"), status]}, {include_blank: t("tasks.status.title"), selected: hash_nil_guard(search_params, :task, :status)},{class: "form-control mr-sm-2"} %>
    <%= form.submit t(".search"), class: "btn btn-warning mr-sm-2" %>
    <%= link_to t(".clear"), tasks_path, class: "btn btn-secondary mr-sm-2" %>
  <% end %>
</nav>

<div class="table-responsive-lg">
  <table class="tasks-table table">
    <thead>
      <tr>
        <th scope="col"><%= t "tasks.name" %></th>
        <th scope="col"><%= t "tasks.description" %></th>
        <th scope="col"><%= t "tasks.user_name" %></th>
        <th class="tasks-sort" id="sort-expired" scope="col">
          <%= t "tasks.expired_at" %>
          <br><%= sort_by("expired_at" ,t(".sort"), search_params) %>
        </th>
        <th class="tasks-sort" id="sort-created" scope="col">
          <%= t "tasks.created_at" %>
          <br>
          <%= sort_by("created_at" ,t(".sort") ,search_params) %>
        </th>
        <th scope="col"><%= t "tasks.status.title" %></th>
        <th class="tasks-sort" id="sort-priority" scope="col">
          <%= t "tasks.priority.title" %>
          <br>
          <%= sort_by("priority", t(".sort"), search_params) %>
        </th>
        <th scope="col"><%= t "tasks.link" %></th>
      </tr>
    </thead>
    <tbody>
      <% tasks.each do |task| %>
        <tr>
          <td><p><%= task.name %></p></td>
          <td><%= simple_format h(task.description) %></td>
          <td><%= task.user.name %></td>
          <td><%= l task.expired_at, format: :medium %></td>
          <td><%= l task.created_at, format: :medium %></td>
          <td class=<%= set_status_color(task.status) %>><%= t "tasks.status.#{task.status}" %></td>
          <td class=<%= set_priority_color(task.priority)%>><%= t "tasks.priority.#{task.priority}" %></td>
          <td>
            <%= link_to t("tasks.show.title"), task_path(task), class: "btn btn-outline-primary btn-block" %>
            <%= link_to t("tasks.edit.title"), edit_task_path(task), class: "btn btn-outline-success btn-block" %>
            <%= link_to t("tasks.destroy.title"), task_path(task), class: "btn btn-outline-danger btn-block", method: :delete, data: {confirm: t("tasks.destroy.confirmation")} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "top", "#top", class: "btn btn-primary to-index-top" %>
  <%= paginate tasks %>
</div>