<% provide(:title, t(".title")) %>
<h1><%= t ".title" %></h1>
<%= form_with(scope: :task, url: tasks_path, local: true, class: "search-form", method: :get) do |form| %>
  <%= form.text_field :name, placeholder: t("tasks.name"), value: (@search_params[:task][:name] if Hash(@search_params)[:task] && @search_params[:task][:name]) %>
  <%= form.select :status, Task.statuses.keys.map{|status| [t("tasks.status.#{status}"), status]}, include_blank: t("tasks.status.title"), selected: (@search_params[:task][:status] if Hash(@search_params)[:task] && @search_params[:task][:name]) %>
  <%= form.submit t(".search"), class: "btn btn-warning" %>
  <%= link_to t(".clear"), tasks_path, class: "btn btn-secondary" %>
<% end %>
<div class="table-container">
  <%= link_to t("tasks.new.title"), new_task_path, class: "btn btn-primary" %>
  <table>
    <thead>
      <tr>
        <th><%= t "tasks.name" %></th>
        <th><%= t "tasks.description" %></th>
        <th class="tasks-sort"><%= t "tasks.expired_at" %><br><%= sort_by("expired_at" ,t(".sort"), @search_params) %></th>
        <th class="tasks-sort"><%= t "tasks.created_at" %><br><%= sort_by("created_at" ,t(".sort"), @search_params) %></th>
        <th><%= t "tasks.status.title" %></th>
        <th><%= t "tasks.link" %></th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.name %></td>
          <td><%= simple_format h(task.description) %></td>
          <td><%= l task.expired_at %></td>
          <td><%= l task.created_at %></td>
          <td><%= t "tasks.status.#{task.status}" %></td>
          <td>
            <%= link_to t("tasks.show.title"), task_path(task), class: "btn btn-outline-primary" %>
            <%= link_to t("tasks.edit.title"), edit_task_path(task), class: "btn btn-outline-success" %>
            <%= link_to t("tasks.delete.title"), task_path(task), class: "btn btn-outline-danger", method: :delete, data: {confirm: t("tasks.delete.confirmation")} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>