<% provide(:title, t("tasks.show.title")) %>
<h1><%= t "tasks.show.title" %></h1>
<div class="task-show-container">
  <div class="task-item">
    <h4><%= t "tasks.name" %></h4>
    <p><%= @task.name %></p>
  </div>
  <div class="task-item">
    <h4><%= t "tasks.description" %></h4>
    <p><%= simple_format(@task.description) %></p>
  </div>
  <div class="task-item">
    <p><%= t "tasks.created_at" %>: <%= @task.created_at %></p>
    <p><%= t "tasks.updated_at" %>: <%= @task.updated_at %></p>
  </div>
  <%= link_to t("tasks.index.title"), tasks_path, class: "btn btn-outline-info" %>
  <%= link_to t("tasks.edit.title"), edit_task_path(@task), class: "btn btn-outline-success" %>
  <%= link_to t("tasks.delete.title"), task_path(@task), class: "btn btn-outline-danger", method: :delete, data: {confirm: t("tasks.delete.confirmation")} %>
</div>