<% provide(:title, t(".title")) %>
<h1><%= t ".title" %></h1>
<table class="task-show-container table">
  <tr class="task-item">
    <th class="scope" scope="row"><%= t "tasks.name" %></th>
    <td><%= @task.name %></td>
  </tr>
  <tr class="task-item">
    <th class="scope" scope="row"><%= t "tasks.description" %></th>
    <td><%= simple_format h(@task.description) %></td>
  </tr>
  <tr class="task-item">
    <th class="scope"  scope="row"><%= t "tasks.expired_at" %></th>
    <td><%= l @task.expired_at, format: :long %></td>
  </tr>
  <tr class="task-item">
    <th class="scope" scope="row"><%= t "tasks.status.title" %></th>
    <td class=<%= set_status_color(@task.status) %>><%= t "tasks.status.#{@task.status}" %></td>
  </tr>
  <tr class="task-item">
    <th class="scope" scope="row"><%= t "tasks.priority.title" %></th>
    <td class=<%= set_priority_color(@task.priority)%>><%= t "tasks.priority.#{@task.priority}" %></td>
  </tr>
  <tr class="task-item">
    <th class="scope" scope="row"><%= t "tasks.created_at" %></th>
    <td><%= l @task.created_at, format: :long %></td>
  </tr>
  <tr class= "task-item">
    <th class="scope"  scope="row"><%= t "tasks.updated_at" %></th>
    <td><%= l @task.updated_at, format: :long %></td>
  </tr>
</table>
<%= link_to t("tasks.edit.title"), edit_task_path(@task), class: "btn btn-outline-success" %>
<%= link_to t("tasks.destroy.title"), task_path(@task), class: "btn btn-outline-danger", method: :delete, data: {confirm: t("tasks.destroy.confirmation")} %>
