<% provide(:title, t(".title")) %>
<h1><%= t ".title" %></h1>
<table class="user-show-container table">
  <tr class="task-item">
    <th class="scope" scope="row"><%= t "users.name" %></th>
    <td><%= @user.name %></td>
  </tr>
  <tr class="task-item">
    <th class="scope" scope="row"><%= t "users.email" %></th>
    <td><%= @user.email %></td>
  </tr>
</table>
<hr>
<%= link_to t("users.edit.btn"), edit_user_path(@user), class: "btn btn-outline-success" %>
<%= link_to t("users.destroy.btn"), user_path(@user), class: "btn btn-outline-danger", method: :delete, data: {confirm: t("users.destroy.confirmation")} %>
