<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="device-widh, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%= link_to "Task App", root_path, class: "navbar-brand" %>
        <% if current_user %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <% if current_user.admin? %>
                <li class="nav-item <%= color_activate(t("admin.users.index.title"), yield(:title))%>">
                  <%= link_to t("admin.users.index.title"), admin_users_path, class: "nav-link" %>
                </li>
                <li class="nav-item <%= color_activate(t("admin.labels.index.title"), yield(:title))%>">
                  <%= link_to t("admin.labels.index.title"), admin_labels_path, class: "nav-link" %>
                </li>
              <% end %>
              <li class="nav-item <%= color_activate(t("tasks.index.title"), yield(:title))%>">
                <%= link_to t("tasks.index.title"), tasks_path, class: "nav-link" %>
              </li>
              <li class="nav-item <%= color_activate(t("tasks.new.title"), yield(:title))%>">
                <%= link_to t("tasks.new.title"), new_task_path, class: "nav-link" %>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.name %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <%= link_to t("users.show.title"), user_path(current_user), class: "dropdown-item" %>
                  <%= link_to t("sessions.destroy.title"), session_path(current_user.id), method: :delete, class: "dropdown-item" %>
                </div>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <% flash.each do |msg_type, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{msg_type}") %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </main>
  <footer>
  </footer>
  </body>
</html>
